*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.aaaa{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 50px;
  
    background-color: white;
}


.asa{
    padding: 67px;
}
.ggg{
    margin: 20px;  
    display: flex;
 ;
width: 299px;
flex-direction: column;
flex-shrink: 0;
color: #898989;
font-family: Product Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hhh{
    margin: 20px;
    display: flex;

width: 320px;
flex-direction: column;
flex-shrink: 0;
color: #2D2D2D;
font-family: Product Sans;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal; 
}
.fdf{
   
   margin: 20px;
    width: 320px;
height: 71px;
flex-shrink: 0;
}
.you{
    margin: 20px;
    width: 320px;
height: 183px;
flex-shrink: 0;
}
.ffff{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.llll{
    color: #898989;
    font-family: Product Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}
.eeee{

  
}

.jjjj{
 display: flex;
width: 396px;
flex-direction: column;
flex-shrink: 0;
color: #2D2D2D;
font-family: Product Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal
}
.mmn{
 display: flex;
width: 888px;
flex-direction: column;
flex-shrink: 0;
color: #898989;
font-family: Product Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.xxxx{
    display: flex;
width: 752px;
flex-direction: column;
flex-shrink: 0;
color: #434141;
font-family: Product Sans;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 30px;
}
.oooo{
    margin: 20px;
    color: #2D2D2D;
    font-family: Product Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.kkkk{
    margin: 20px;
    color: #7E7E7E;
    font-family: Product Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pppl{
    margin: 20px;
    color: #7E7E7E;
    font-family: Product Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.alal{
    margin: 20px;
    color: #7E7E7E;
    font-family: Product Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.olol{
    margin: 20px;
    color: #7E7E7E;
    font-family: Product Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.uouo{
    margin: 20px;
    color: #7E7E7E;
    font-family: Product Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.uiuii{
    margin: 20px;
    color: #7E7E7E;
    font-family: Product Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.uiuiu{
    
   
    
}
.tete{
    padding: 41px;
    width: 310px;
height: 225px;
flex-shrink: 0;
}
.tetex{
    padding: 41px;
    width: 310px;
height: 225px;
flex-shrink: 0;
}
.oppo{
    padding: 25px;
    color: #2D2D2D;
font-family: Product Sans;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.dffd{
    padding: 25px;
    display: flex;
width: 320px;
flex-direction: column;
flex-shrink: 0;
color: #786D6D;
font-family: Product Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal
}
.dffds{
    padding: 25px;
    display: flex;
width: 320px;
flex-direction: column;
flex-shrink: 0;
color: #786D6D;
font-family: Product Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal
}
.dffdw{
    padding: 25px;
    display: flex;
width: 320px;
flex-direction: column;
flex-shrink: 0;
color: #786D6D;
font-family: Product Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal
}
.kom{
    width: 42px;
height: 37px;
flex-shrink: 0;
}
.we{
    
    display: flex;
width: 306px;
height: 56px;
flex-direction: column;
flex-shrink: 0;
color: #4B4B4B;
font-family: Product Sans;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.us{
    color: #786D6D;
font-family: Product Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.wes{
    display: flex;
width: 306px;
height: 56px;
flex-direction: column;
flex-shrink: 0;
color: #4B4B4B;
font-family: Product Sans;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.use{
    color: #786D6D;
    font-family: Product Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}