*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
    }

.section1>p{
    display: flex;
    align-items: center;
    justify-content: center;    
    padding-top: 50px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.btn1>p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.btn1>span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: #929292;
}