* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

nav {
    width: 1440px;
    height: 100px;
    /* background-color: #878787; */
    margin-top: 100px;
    display: flex;
}

.logo {
    width: 20%;
    height: 100%;
    /* background-color: darkblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>p {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
}

.nav_link {
    width: 50%;
    height: 100%;
    /* background-color: darkgrey; */
    padding: 35px 0px 0px 40px;
}

.nav_link>a {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: rgba(249, 249, 249, 1);
    margin: 0px 23px 0px 23px;
}

.nav_btn{
    width: 30%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    padding: 21px 40px 0px 230px;
}

.btn1{
    width: 30px;
    height: 30px;
    border: none;
    margin: 10px;
}